:root {
	--bg: #1e1e2f;           /* Dark navy background */
	--green: #9acd32;        /* Olive green (classic) */
	--yellow: #d4af37;       /* Antique gold */
	--red: #8b0000;          /* Dark red (maroon) */

	--input-color: #2c2c3e;  /* Darker form background */
	--item-color: #3a3a4d;   /* Item container background */
	--font-color: #f0eada;   /* Light cream / parchment-like */

	--big-font-size: 64px;
	--heading-font-size: 24px;
	--item-font-size: 20px;
}

@keyframes click {
	0% {
		opacity: 0;
		width: 0;
		height: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
		width: 30px;
		height: 30px;
	}
}

/* Global styles */
body {
	background-color: var(--bg); /* Use background color variable */
	color: var(--font-color); /* Font color for better readability */
	font-family: 'Arial', sans-serif; /* Default font */
}

/* Hilangkan atau kecilkan scrollbar */
::-webkit-scrollbar {
	width: 0px; /* Atur lebar scrollbar */
	height: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: var(--item-color); /* Warna scrollbar */
	border-radius: 10px; /* Membuatnya melingkar */
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background-color: var(--green); /* Warna saat hover */
  }
  
  ::-webkit-scrollbar-track {
	background: transparent; /* Track scroll transparan */
  }
